@import '~swiper/dist/css/swiper.min.css';

.img-box {
    width: 100%!important;
    margin: 0!important;
    overflow: hidden;
    img {
        width: 100%;
    }
}
.swiper-button-prev{
    left: 50px !important;
}
.swiper-button-next {
    right: 50px !important;
}