<div class="top pt-sm pb-sm">
  <div class="row pointer">
    <div nz-row>
      <div nz-col nzSpan="8">
        <span class="mr-md">欢迎进入xxsx官网</span>
        <a [routerLink]="[ '/passport/login']" class="mr-md">登录</a>
        <a [routerLink]="[ '/passport/register']" class="">注册</a>
      </div>
      <div nz-col nzSpan="16" class="text-right">
        <span class="mr-sm">购物车</span>
        <span class="mr-sm">我的订单</span>
        <span class="mr-sm">手机官网</span>
      </div>
    </div>
  </div>
</div>