.banner {
    width: 100%;
    overflow: hidden;
}

.list {
    margin-top: 50px;
    margin-bottom: 50px;

    .ad-box {
        height: 446px;
        overflow: hidden;
    }

    .list-title {
        font-size: 24px;
        font-weight: 100;
    }

    .product-list {
        width: 100%;
        height: 700px;
        overflow: hidden;

        .product-left {
            width: 700px;
        }

        .product-right {
            width: 470px;
        }

        .tabs-product-left1,
        .tabs-product-left2,
        .tabs-product-right {
            width: 100%;
            overflow: hidden;
        }

        .tabs-product-left1 {
            height: 440px;
        }

        .tabs-product-left2 {
            height: 240px;
            margin-top: 20px;
        }

        .tabs-product-right {
            height: 700px;
        }
    }

    .pinpai-list {
        .pinpai-left {
            width: 720px;
        }

        .pinpai-right {
            width: 440px;
        }
        .pinpai-left,
        .pinpai-right {
            height: 644px;
            overflow: hidden;
        }
    }

}

.img-box {
    width: 100%;
    height: 100%;

    img {
        width: 100%;
    }
}