<div class="banner">
  <app-swiper-banner></app-swiper-banner>
</div>
<div class="list">
  <div nz-row class="row">
    <div nz-col nzSpan="12">
      <div class="ad-box img-box pr-sm"><a href="/"><img src="assets/imgs/test/ad_list1.jpg" alt=""></a></div>
    </div>
    <div nz-col nzSpan="12">
      <div class="ad-box img-box pl-sm"><a href="/"><img src="assets/imgs/test/ad_list1.jpg" alt=""></a></div>
    </div>
  </div>
  <div nz-row class="row pt-lg">
    <div nz-col nzSpan="24">
      <h2 class="list-title text-center mb-md">系列产品</h2>
    </div>
    <div nz-col nzSpan="24">
      <div class="clearfix product-list">
        <div class="fl product-left">
          <div class="img-box tabs-product-left1"><a href="/"><img src="assets/imgs/test/diamonds_1.jpg" alt=""></a></div>
          <div class="img-box tabs-product-left2"><a href="/"><img src="assets/imgs/test/diamonds_2.jpg" alt=""></a></div>
        </div>
        <div class="fr product-right">
          <div class="img-box tabs-product-right"><a href="/"><img src="assets/imgs/test/diamonds_3.jpg" alt=""></a></div>
        </div>
      </div>
    </div>
    <div nz-col nzSpan="24" class="mt-lg pt-lg">
      <div class="clearfix pinpai-list">
        <div class="fl pinpai-left mb-md">
          <div class="img-box"><a href="/"><img src="assets/imgs/test/pinpai1.jpg" alt=""></a></div>
        </div>
        <div class="fr pinpai-right mb-md">
          <div class="img-box"><a href="/"><img src="assets/imgs/test/pinpai2.gif" alt=""></a></div>
        </div>
        <div class="img-box"><a href="/"><img src="assets/imgs/test/pinpai3.jpg" alt=""></a></div>
      </div>
    </div>
  </div>
</div>