<footer>
  <div class="p-lg text-center">
    <a href="javascript:;">钻石小鸟</a>
    <nz-divider nzType="vertical"></nz-divider>
    <a href="javascript:;">广州二手房</a>
    <nz-divider nzType="vertical"></nz-divider>
    <a href="javascript:;">南京房产网</a>
    <nz-divider nzType="vertical"></nz-divider>
    <a href="javascript:;">钻石小鸟</a>
    <nz-divider nzType="vertical"></nz-divider>
    <a href="javascript:;">钻石饰品价格</a>
    <nz-divider nzType="vertical"></nz-divider>
    <a href="javascript:;">手表品牌排行榜</a>
    <nz-divider nzType="vertical"></nz-divider>
    <a href="javascript:;">中国品牌网</a>
    <nz-divider nzType="vertical"></nz-divider>
    <a href="javascript:;">中国网库</a>
  </div>

</footer>