.login {
    width: 100%;
    height: 100%;
    padding-top: 100px;
    .login-form {
        width: 400px;
        background-color: #fcedea;
    }
    .login-form-button {
        width: 100%;
    }
}